<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:each="temperature : ${temperatureSMHI}">
    <tr>
        <td th:text="${temperature}"></td>
<!--        <td>-->
<!--            <a class="h4 m-3" th:href="@{'/course/edit/' + ${course.id}}">Edit</a>-->
<!--            <a class="h4 m-3" th:href="@{'/course/delete/' + ${course.id}}">Delete</a>-->
<!--        </td>-->
    </tr>
</th:block>
</body>
</html>