<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weathers</title>
</head>
<body>
<th:block th:each="temperatureSMHI : ${temperatureListSMHI}">
    <tr>
        <td th:text="'Temperature: ' + ${temperatureSMHI}"></td>

    </tr>

</th:block>

<br/>

<th:block th:each="precipitationSMHI : ${precipitationListSMHI}">
    <tr>
        <td th:text="'Precipitation: ' + ${precipitationSMHI}"></td>
    <tr/>
</th:block>

<br/>

<th:block th:each="windspeedSMHI : ${windSpeedListSMHI}">
    <tr>
        <td th:text="'Wind speed: ' + ${windspeedSMHI}"></td>
    <tr/>
</th:block>

<br/>

<th:block th:each="temperatureMET : ${temperatureListMET}">
    <tr>
        <td th:text="'Temperature: ' + ${temperatureMET}"></td>

    </tr>
</th:block>

<br/>

<th:block th:each="precipitationMET : ${precipitationListMET}">
    <tr>
        <td th:text="'Precipitation: ' + ${precipitationMET}"></td>
    <tr/>
</th:block>

<br/>

<th:block th:each="windSpeedMET : ${windSpeedListMET}">
    <tr>
        <td th:text="'Wind speed: ' + ${windSpeedMET}"></td>
    <tr/>
</th:block>

<br/>

<th:block th:each="temperatureOpenWeather : ${temperatureListOpenWeather}">
    <tr>
        <td th:text="'Temperature: ' + ${temperatureOpenWeather}"></td>

    </tr>
</th:block>

<br/>

<th:block th:each="precipitationOpenWeather : ${precipitationListOpenWeather}">
    <tr>
        <td th:text="'Precipitation: ' + ${precipitationOpenWeather}"></td>
    <tr/>
</th:block>

<br/>

<th:block th:each="windSpeedOpenWeather : ${windSpeedListOpenWeather}">
    <tr>
        <td th:text="'Wind speed: ' + ${windSpeedOpenWeather}"></td>
    <tr/>
</th:block>




</body>
</html>